.site-footer {
    position: relative;
    padding: 1em;
    color: $color__white;
    background-color: $color__black;
    text-align: center;
    font-family: $font__quicksand;
    font-size: .875rem;
    line-height: 1.5;

    a {
        color: $color__white;
        text-decoration: none;

        &:hover {
            color: $color__gray;
        }
    }
}

.footer-brand {

}

.social-menu {
    margin-bottom: 3px;

    a {
        padding: .5em;

        &.facebook:hover {
            color: #3B5998;
        }

        &.instagram:hover {
            color: #FBAD50;
        }

        &.twitter:hover {
            color: #55ACEE;
        }

        &.youtube:hover {
            color: #FF0000;
        }

        &.apple:hover {
            color: #999999;
        }

        &.spotify:hover {
            color: #84BD00;
        }

        &.sound-cloud:hover {
            color: #FF7700;
        }
    }
}

.copyright {
    .copyright-mobile-break {
        display: none;
    }

    @media (max-width: 448px) {
        .copyright-mobile-break {
            display: block;
        }
    }
}

.developer {

}

.extras {
    a {
        padding: 0 .25em;
        font-size: .625rem;
        border-bottom: 1px dotted $color__gray;

        &:focus,
        &:hover {
            border-bottom: 1px dotted $color__white;
            text-decoration: none;
        }
    }
}
