.site-header {
    position: relative;
    font-family: $font__quicksand;

    a {
        color: $color__white!important;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            color: $color__gray!important;
        }
    }
}

.navbar {
    padding: .2em 1em;
    background-color: $color__black!important;
}

.navbar-brand {
    margin: 0 1em 0 0;
}

.navbar-toggler {
    font-size: .875rem;
    border: none;
    border-radius: 0;
    color: $color__white!important;
    line-height: .875;

    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
        margin-right: 5px;
    }

    &:active,
    &:focus {
        color: $color__white!important;
        outline: 1px none;
    }

    &:hover {
        color: $color__gray!important;
        transition: ease 0.45s;
    }
}

#navbar-nav {
    a {
        font-size: 1rem;
    }

    .active a {
        color: $color__gray!important;
    }
}
